.contacts {
  @include flex-column;
  width: calc(100vw - 51.5%);
}

.contacts h3 {
  @include reset-space;
  @include bebas-neue-font;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;

  margin-right: auto;
  margin-left: 120px;
  margin-top: 69px;
  margin-bottom: 40px;
}

.contacts__list {
  @include clear-list;
  @include flex-row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 124px;
  margin-right: auto;

  max-width: 404px;

  min-width: 460px;

  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 230px;

    width: 1px;
    height: calc(100% - 30px);

    border-left: 1px solid $contacts-border-color;
  }
}

.contacts__item {
  @include flex-column;
  min-width: 170px;
  max-width: 170px;
  margin-bottom: 17px;
  margin-right: 120px;
}

.contacts__item:nth-child(2n) {
  margin-right: 0;
  margin-left: auto;
}

.contacts__item span {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 4px;
}

.contacts__item p {
  @include reset-space;
  font-size: 14px;
  line-height: 21px;
}

.contacts__link {
  text-decoration: none;
  color: $text-color;
}

.contacts__link:hover,
.contacts__link:focus {
  text-decoration: underline;
}

.contacts__link:active {
  opacity: 0.8;
}

@media (max-width: $tablet-width-only) {
  .contacts {
    align-items: center;

    min-width: 768px;
    width: 100%;
    border-top: none;

    margin-bottom: 41px;
  }

  .contacts h3 {
    align-self: flex-start;

    font-size: 42px;
    line-height: 42px;

    margin-right: 0;
    margin-left: calc(((100vw - 768px) / 2) + 133px);
    margin-top: 69px;
    margin-bottom: 33px;
  }

  .contacts__list {
    margin-left: 0;
    margin-right: 0;

    min-width: 460px;
    max-width: 500px;

    &::after {
      top: 8px;
      left: 265px;

      width: 1px;
      height: calc(100% - 38px);

      border-left: 1px solid $contacts-border-color;
    }
  }

  .contacts__item {
    margin-right: 0;
    margin-bottom: 20px;
    max-width: 218px;
  }

  .contacts__item:nth-child(2n) {
    margin-right: 17px;
  }

  .contacts__item span {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 6px;
  }

  .contacts__item p {
    font-size: 18px;
    line-height: 27px;
  }
}

@media (max-width: $mobile-width-only) {
  .contacts {
    min-width: 290px;
    width: 100%;

    margin-bottom: 42px;
  }

  .contacts h3 {
    font-size: 32px;
    line-height: 32px;

    margin-bottom: 36px;
    margin-left: calc(((100vw - 320px) / 2) + 15px);
  }

  .contacts__list {
    @include flex-column;
    flex-wrap: nowrap;
    margin-left: 0;
    margin-right: 0;

    max-height: none;

    min-width: 290px;

    &::after {
      display: none;
    }
  }

  .contacts__item {
    margin-bottom: 19px;
  }

  .contacts__item:nth-child(-n+1) {
    order: 1;
  }

  .contacts__item:nth-child(-2n+2) {
    order: 3;
  }

  .contacts__item:nth-child(-3n+3) {
    order: 2;
  }

  .contacts__item:nth-child(-4n+4) {
    order: 4;
  }

  .contacts__item:nth-child(2n) {
    margin-right: 0;
    margin-left: 0;
  }
}
