.footer {
  @include flex-row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: $footer-bg-color;
  color: $white;

  min-height: var(--footer-min-height);
  width: 100%;
  max-width: 100%;

  padding-top: 43px;

  margin-top: auto;
  margin-bottom: 0;

  position: absolute;
  bottom: 0;
}

.footer__logo-link {
  width: 89px;
  height: 20px;

  padding-right: 2px;

  margin-left: calc(((100vw - var(--width)) / 2) + 104px);
  margin-top: 2px;
}

.footer__logo-link:hover,
.footer__logo-link:focus {
  opacity: 0.75;
}

.footer__logo-link:active {
  opacity: 0.55;
}

.footer__nav {
  margin-left: 21px;
}

.footer__nav-list {
  @include clear-list;
  @include flex-row;
  align-content: start;
  flex-wrap: wrap;
  max-width: 431px;
}

.footer__nav-item {
  margin-right: 40px;
}

.footer__nav-item:last-child {
  margin-right: 0;
}


.footer__nav-item a {
  @include roboto-condensed-font;
  color: $white;
  font-size: 14px;
  line-height: 16px;
}

.footer__nav-item a:hover,
.footer__nav-item a:focus {
  opacity: 0.75;
}

.footer__nav-item a:active {
  opacity: 0.55;
}

.footer__social-list {
  @include clear-list;
  @include flex-row;
  flex-wrap: wrap;

  max-width: 122px;

  margin-right: calc(((100vw - var(--width)) / 2) + 91px);
}

.footer__social-item {
  @include flex-column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 24px;
  min-height: 24px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.footer__social-item:nth-child(3n) {
  margin-right: 0;
}

.footer__social-link:hover,
.footer__social-link:focus {
  opacity: 0.75;
}

.footer__social-link:focus {
  opacity: 0.55;
}

@media (max-width: $tablet-width-only) {
  .footer {
    padding-top: 40px;
  }

  .footer__logo-link {
    width: 82px;
    height: 18px;

    margin-left: calc(((100vw - var(--width)) / 2) + 45px);
    margin-top: 8px;
  }

  .footer__nav {
    margin-left: 19px;
    margin-top: 6px;
  }

  .footer__nav-item {
    margin-right: 30px;
  }

  .footer__social-list {
    margin-top: 5px;
    margin-right: calc(((100vw - var(--width)) / 2) + 33px);
  }

  .footer__social-item {
    margin-right: 20px;
  }
}

@media (max-width: $mobile-width-only) {
  .footer {
    @include flex-column;
    align-items: flex-start;
    justify-content: flex-start;

    padding-top: 0;
  }

  .footer__logo-link {
    position: absolute;
    top: 0;
    left: 0;

    align-self: flex-start;

    width: 68px;
    height: 15px;

    margin-left: calc(((100vw - var(--width)) / 2) + 15px);
    margin-top: 50px;
  }

  .footer__nav {
    margin-left: calc(((100vw - var(--width)) / 2) + 15px);
    margin-top: 19px;
    margin-bottom: 10px;
  }

  .footer__nav-list {
    @include flex-column;
    flex-wrap: wrap;

    max-height: 150px;

    margin-top: 28px;
  }

  .footer__nav-item {
    margin-right: 76px;
    margin-bottom: 18px;
  }

  .footer__nav-item:first-child {
    margin-top: 40px;
  }

  .footer__nav-item a {
    font-size: 16px;
    line-height: 19px;
  }

  .footer__social-list {
    align-items: center;
    margin-top: 6px;
    margin-right: 0;
    margin-left: calc(((100vw - var(--width)) / 2) + 15px);

    max-width: 173px;
  }

  .footer__social-item {
    margin-right: 35px;
  }

  .footer__social-icon {
    &--vk {
      width: 32px;
      height: 17px;
    }

    &--insta {
      width: 27px;
      height: 27px;
    }

    &--fb {
      width: 14px;
      height: 27px;
    }
  }
}
