.footer {
  @include flex-row;
  justify-content: space-between;
  align-items: center;
  background-color: $footer-bg-color;
  color: $white;

  min-height: var(--footer-min-heigth);
  width: 100%;

  margin-top: auto;
  margin-bottom: 0;

  position: absolute;
  bottom: 0;
}

.footer__logo-link {
  width: 89px;
  height: 20px;

  padding-right: 2px;

  margin-left: calc(((100vw - 1366px) / 2) + 104px);
  margin-top: 2px;
}

.footer__logo-link:hover,
.footer__logo-link:focus {
  opacity: 0.75;
}

.footer__nav {
  margin-left: 21px;
}

.footer__nav-list {
  @include clear-list;
  @include flex-row;
}

.footer__nav-item {
  margin-right: 40px;
}

.footer__nav-item:last-child {
  margin-right: 0;
}


.footer__nav-item a {
  @include roboto-condensed-font;
  color: $white;
  font-size: 14px;
  line-height: 16px;
}

.footer__nav-item a:hover,
.footer__nav-item a:focus, {
  opacity: 0.75;
}

.footer__social-list {
  @include clear-list;
  @include flex-row;

  margin-top: 5px;
  margin-right: calc(((100vw - 1366px) / 2) + 86px);
}

.footer__social-item {
  margin-right: 25px;
}

.footer__social-item:last-child {
  margin-right: 0;
}

.footer__social-link:hover,
.footer__social-link:focus, {
  opacity: 0.75;
}

@media (max-width: $tablet-width-only) {
  // .footer > a {
  //   font-size: 24px;
  //   line-height: 24px;

  //   margin-left: calc(((100vw - 768px) / 2) + 45px);
  // }

  .footer__logo-link {
    width: 82px;
    height: 18px;

    margin-left: calc(((100vw - 768px) / 2) + 45px);
    margin-top: 0;
  }

  .footer__nav {
    margin-left: 19px;
  }

  .footer__nav-item {
    margin-right: 30px;
  }

  .footer__social-list {
    margin-top: 5px;
    margin-right: calc(((100vw - 768px) / 2) + 28px);
  }

  .footer__social-item {
    margin-right: 20px;
  }
}

@media (max-width: $mobile-width-only) {
  .footer {
    @include flex-column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .footer__logo-link {
    position: absolute;
    top: 0;
    left: 0;

    align-self: flex-start;

    width: 68px;
    height: 15px;

    margin-left: calc(((100vw - 320px) / 2) + 15px);
    margin-top: 50px;
  }

  .footer__nav {
    margin-left: calc(((100vw - 320px) / 2) + 15px);
    margin-top: 19px;
    margin-bottom: 10px;
  }

  .footer__nav-list {
    @include flex-column;
    flex-wrap: wrap;

    max-height: 150px;

    margin-top: 28px;
  }

  .footer__nav-item {
    margin-right: 76px;
    margin-bottom: 18px;
  }

  .footer__nav-item:first-child {
    margin-top: 40px;
  }

  .footer__nav-item a {
    font-size: 16px;
    line-height: 19px;
  }

  .footer__social-list {
    align-items: center;
    margin-top: 6px;
    margin-right: 0;
    margin-left: calc(((100vw - 320px) / 2) + 15px);
  }

  .footer__social-item {
    margin-right: 35px;
  }

  .footer__social-icon {
    &--vk {
      width: 32px;
      height: 17px;
    }

    &--insta {
      width: 27px;
      height: 27px;
    }

    &--fb {
      width: 14px;
      height: 27px;
    }
  }
}
