.main {
  @include container;
  padding-bottom: var(--footer-min-height);
  overflow-x: hidden;
}

@media (max-width: $tablet-width-only) {
  .main {
    @include container;
  }
}

@media (max-width: $mobile-width-only) {
  .main {
    @include container;
  }
}
