.promo {
  @include flex-column;
  align-items: center;
  margin-top: 119px;
  margin-bottom: 119px;
}

.promo__wrapper {
  @include flex-row;
  align-items: center;
  min-width: 1160px;
  min-height: 500px;
  margin-left: 17px;
}

.promo__text-wrapper {
  @include flex-column;
  background-color: $highlight-red-color;
  color: $white;

  min-height: 500px;

  --pheight: 77px;
  padding-top: calc(var(--pheight) + 6px);
  padding-bottom: calc(var(--pheight) + 8px);


  --pwidth: 74px;
  padding-left: var(--pwidth);
  padding-right: calc(var(--pwidth) + 1px);
}

.promo__inner-wrapper {
  @include flex-column;
  margin-left: 4px;
}

.promo__inner-wrapper > p {
  @include reset-space;
  font-size: 18px;
  line-height: 27px;

  margin-top: 1px;
  margin-bottom: auto;
}


.promo__info-wrapper {
  @include flex-row;
}

.promo__info-wrapper h3 {
  @include reset-space;
  @include bebas-neue-font;
  font-size: 90px;
  line-height: 90px;
  letter-spacing: 0.03em;

  max-width: 201px;

  margin-right: 50px;
}

.promo__time-list {
  @include clear-list;
  @include flex-column;
  align-items: flex-start;
  margin-top: -2px;
}

.promo__time-list dt {
  font-size: 18px;
  line-height: 27px;

  margin-bottom: 4px;
}

.promo__time-item {
  @include reset-space;
  @include flex-row;
  align-items: center;

  margin-bottom: 10px;

  border-top: 1px solid $white;
}

.promo__time-item > span {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;

  margin-top: -7px;
}

.promo__time-wrapper {
  margin-bottom: 1px;
}

.promo__time-wrapper p {
  @include reset-space;
  font-size: 14px;
  line-height: 21px;

  max-width: 37px;

  margin-left: 7px;
  margin-top: -4px;
}

.promo__time-wrapper span {
  margin-top: -3px;
}

.promo__link {
  color: $white;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;

  border: 4px solid $white;

  padding-top: 24px;
  padding-bottom: 25px;
  padding-left: 114px;
  padding-right: 113px;

  min-width: 343px;
  min-height: 67px;

  margin-top: auto;
  margin-bottom: 0;
}

.promo__link:hover,
.promo__link:focus {
  background-color: $white;
  color: $highlight-red-color;
}

.promo__link:active {
  opacity: 0.75;
}

.promo__img-wrapper {
  height: 500px;
  background-color: $bg-super-img;
}


@media (max-width: $tablet-width-only) {
  .promo {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .promo__wrapper {
    min-width: 678px;
    min-height: 292px;
    margin-left: 17px;
  }

  .promo__text-wrapper {
    min-height: 292px;

    --pheight: 45px;
    padding-top: calc(var(--pheight) + 6px);
    padding-bottom: calc(var(--pheight) + 5px);


    --pwidth: 43px;
    padding-left: var(--pwidth);
    padding-right: calc(var(--pwidth) + 1px);
  }

  .promo__inner-wrapper {
    margin-left: 2px;
    margin-top: -2px;
  }

  .promo__inner-wrapper > p {
    font-size: 12px;
    line-height: 18px;

    margin-top: 0;
    margin-bottom: auto;
  }

  .promo__info-wrapper h3 {
    font-size: 52px;
    line-height: 52px;

    max-width: 117px;

    margin-right: 30px;
  }

  .promo__time-list dt {
    font-size: 12px;
    line-height: 18px;

    margin-bottom: 1px;
  }

  .promo__time-item {
    margin-bottom: 0;
  }

  .promo__time-item > span {
    font-size: 24px;
    line-height: 36px;

    margin-top: -3px;
  }

  .promo__time-wrapper {
    margin-bottom: 0;
    margin-left: -4px;
  }

  .promo__time-wrapper p {
    font-size: 10px;
    line-height: 15px;

    max-width: 26px;
  }

  .promo__link {
    font-size: 10px;
    line-height: 12px;

    border: 2px solid $white;

    padding-top: 12px;
    padding-bottom: 13px;
    padding-left: 52px;
    padding-right: 53px;

    min-width: 202px;
    min-height: 39px;
  }

  .promo__img-wrapper {
    height: 292px;
  }

  .promo__img-wrapper img {
    width: 386px;
    height: 292px;
    object-fit: cover;
  }
}

@media (max-width: $mobile-width-only) {
  .promo {
    margin-top: 105px;
    margin-bottom: 70px;
  }

  .promo__wrapper {
    @include flex-column;
    min-width: 290px;
    min-height: 584px;
    margin-left: 0;
  }

  .promo__text-wrapper {
    width: calc(100vw - 30px);
    align-items: center;
  }

  .promo__inner-wrapper {
    justify-content: center;
  }

  .promo__link {
    padding-left: 42px;
    padding-right: 43px;
  }

  .promo__img-wrapper {
    @include flex-row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: calc(100vw - 30px);
  }

  .promo__img-wrapper img {
    width: 386px;
    height: 292px;
  }
}
