.promotions {
  @include flex-column;
  align-items: center;
  justify-content: flex-start;

  margin-top: 119px;
}

.promotions h3 {
  @include reset-space;
  @include bebas-neue-font;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  margin-left: 16px;

  margin-bottom: 51px;
}

.promotions__wrapper {
  @include flex-row;
  margin-left: 16px;
}

.promotions__main-promo-wrapper {
  @include flex-row;
  width: 560px;
  min-height: 462px;
  max-width: 50%;

  margin-right: 40px;
}

.promotions__text-wrapper {
  @include flex-column;
  align-items: flex-start;
  color: $white;
  background-color: $highlight-red-color;

  min-height: 462px;
  max-width: 280px;

  padding: 45px;
  padding-top: 33px;
}

.promotions__text-wrapper h4,
.promotions__text-wrapper p,
.promotions__text-wrapper span {
  max-width: 100%;
}

.promotions__text-wrapper h4 {
  @include reset-space;
  font-weight: 700;
  font-size: 28px;
  line-height: 44px;
}

.promotions__text-wrapper span {
  font-weight: bold;
  font-size: 70px;
  line-height: 109px;

  margin-top: -25px;
}

.promotions__text-wrapper p {
  @include reset-space;
  font-size: 18px;
  line-height: 25px;

  max-width: 189px;

  padding-bottom: 70px;
  margin-bottom: auto;
}

.promotions__img-wrapper {
  width: 280px;
  height: 462px;
  background-color: $promotions-img-bg-color;

  overflow: hidden;
}

.promotions__img-wrapper img {
  width: 280px;
  height: 462px;
  object-fit: cover;
}

.promotions__minor-promo-list {
  @include clear-list;
  @include flex-column;
}

.promotions__minor-promo-item {
  @include flex-column;
  align-items: flex-start;

  max-width: 560px;
  min-width: 560px;
  min-height: 211px;

  border: 7px solid transparent;
  border-image-source: linear-gradient(148.82deg, $border-gradient-color-start 0.85%, $border-gradient-color-end 100%);
  border-image-width: 7px;
  border-image-slice: 7;

  margin-bottom: 40px;
  padding: 28px;
  padding-top: 18px;
}

@media (min-width: $desktop-width-only) {
  .promotions__minor-promo-item:last-child {
    margin-bottom: 0;
  }
}

.promotions__minor-promo-item h4 {
  @include reset-space;
  font-weight: bold;
  font-size: 26px;
  line-height: 39px;
  margin-bottom: 4px;
}

.promotions__minor-promo-item p {
  @include reset-space;
  font-size: 16px;
  line-height: 22px;
  padding-bottom: 70px;
  margin-bottom: auto;
}

.promotions__link {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;

  color: $highlight-blue-color;

  max-width: 100%;

  margin-top: auto;
  margin-bottom: 1px;

  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;

    width: 100%;
    height: 1px;

    border-bottom: 1px solid $highlight-blue-color;
  }

  &:hover,
  &:focus {
    color: $highlight-red-color;

    &::after {
      border-bottom: 1px solid $highlight-red-color;
    }
  }

  &:active {
    opacity: 0.6;
  }

  &--main {
    @include active-states;
    color: $white;
    font-size: 14px;
    line-height: 16px;

    &::after {
      border-bottom: 1px solid $white;
    }

    &:hover,
    &:focus {
      &::after {
        border-bottom: 1px solid $black;
      }
    }
  }
}

@media (max-width: $tablet-width-only) {
  .promotions {
    margin-top: 99px;
  }

  @media (min-width: $mobile-width-only) {
    .promotions {
      margin-right: 17px;
    }
  }

  .promotions h3 {
    font-size: 42px;
    line-height: 42px;
    margin-left: 16px;

    margin-bottom: 41px;
  }

  .promotions__wrapper {
    @include flex-column;
    align-items: center;
  }

  .promotions__main-promo-wrapper {
    width: 678px;
    min-height: 462px;
    max-width: 100%;

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }

  .promotions__img-wrapper {
    width: 399px;
  }

  .promotions__img-wrapper img {
    width: 399px;
  }

  .promotions__minor-promo-list {
    @include flex-row;
    justify-content: space-between;
    margin-left: 30px;
  }

  .promotions__minor-promo-item {
    max-width: calc(50% - 30px);
    min-width: 324px;

    margin-bottom: 0;
  }

  @media (min-width: $mobile-width-only) {
    .promotions__minor-promo-item {
      margin-right: 30px;
    }
  }

  .promotions__minor-promo-item p {
    padding-bottom: 49px;
  }
}

@media (max-width: $mobile-width-only) {
  .promotions {
    margin-top: 69px;
  }

  .promotions h3 {
    font-size: 32px;
    line-height: 32px;
    margin-left: 0;

    margin-bottom: 43px;
  }

  .promotions__wrapper {
    margin-left: 0;
  }

  .promotions__main-promo-wrapper {
    @include flex-column;
    width: 290px;
    min-height: 598px;

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
  }

  .promotions__text-wrapper {
    min-height: 299px;
    max-width: 100%;
    align-items: center;

    padding: 45px;
    padding-top: 33px;
  }

  .promotions__text-wrapper p {
    text-align: center;
    padding-bottom: 30px;
    margin-top: -5px;
  }

  .promotions__img-wrapper {
    width: 290px;
    height: 299px;
  }

  .promotions__img-wrapper img {
    width: 290px;
    height: 299px;
  }

  .promotions__minor-promo-list {
    @include flex-column;
    --item-margin: calc((100vw - 290px) / 2);
    margin-left: var(--item-margin);
    margin-right: var(--item-margin);
  }

  .promotions__minor-promo-item {
    align-items: center;
    max-width: calc(100% - 30px);
    min-width: 290px;

    margin-bottom: 30px;
    padding-top: 29px;
    padding-bottom: 39px;
  }

  .promotions__minor-promo-item p {
    text-align: center;
    padding-bottom: 25px;
  }
}
