@mixin roboto-condensed-font {
  font-family: "Roboto Condensed", "Arial", sans-serif;
}

@mixin bebas-neue-font {
  font-family: "Bebas Neue", "Arial", sans-serif;
}

@mixin page-main-font {
  @include roboto-condensed-font;
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
}

@mixin clear-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin reset-space {
  margin: 0;
  padding: 0;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin mobile-space {
  margin: 0 15px;
}

@mixin tablet-space {
  margin: 0 30px;
}

@mixin desktop-space {
  margin: 0 110px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

@mixin container {
  margin: 0 auto;
}

@mixin desktop-container {
  padding: 0 $desktop-gap;
}

@mixin tablet-container {
  padding: 0 $tablet-gap;
}

@mixin mobile-container {
  padding: 0 $mobile-gap;
}

@mixin old-tablet-container {
  width: auto;
  margin: 0 25px;
  padding: 0;
}

@mixin active-states {
  &:hover,
  &:focus {
    color: $text-color;
    border-color: $text-color;
    fill: $text-color;
  }

  &:active {
    color: $white;
    text-shadow: -1px 1px 0 $black,
      1px 1px 0 $black,
      1px -1px 0 $black,
      -1px -1px 0 $black;
    border-color: $white;
    fill: $white;
  }
}

@mixin empty-rule {
  hyphens: auto;
}

@mixin redline {
  outline: 1px solid red;
}

@mixin blackline {
  outline: 1px solid black;
}

@mixin ultraline {
  outline: 2px dotted darkgrey;
}
