$white: #ffffff;
$black: #000000;
$white-transparent: rgba(#ffffff, 0.2);
$black-transparent: rgba(#000000, 0.5);

$bg-gradient-color-start: #b80027;
$bg-gradient-color-end: #003d85;

$text-gradient-color-start: #d10a42;
$text-gradient-color-end: #0041ca;

$border-gradient-color-start: #d10a42;
$border-gradient-color-end: #00359f;

$button-gradient-color-start: #ed0233;
$button-gradient-color-end: #003eb7;

$btn-border-gradient-color-start: rgba(#ed0233, 0.2);
$btn-border-gradient-color-end: rgba(#003eb7, 0.2);

$promotions-img-bg-color: #4069d9;
$gym-img-bg-color: #d7d7e2;
$main-screen-img-bg-color: #011346;
$reviews-icon-bg-color: #57616f;


$text-color: #102654;
$text-transparent-color: rgba(#102654, 0.5);
$fade-color: rgba(#14367a, 0.5);
$bg-color: #f8f9fc;
$bg-super-img: #000145;
$price-color: #103aae;
$price-fade-color: #e8e8e8;
$border-color:  rgba(#787878, 0.2);
$border-highlighted-color: #d10a42;
$hours-color: #495a7d;
$advantages-small-text-color: #2e35ac;
$highlight-red-color: #ed0233;
$highlight-blue-color: #1c3374;
$contacts-border-color: #74819c;
$footer-bg-color: #030a1a;
$arrow-color: #afafaf;
$trainer-subtext: #b6bdcc;
$slider-shadow: rgba(#2a3b63, 0.17);


$table-highlight-color: #ed0233;
$table-border-color: #1c3374;
$table-caption-color: #15367a;


$mobile-size: 320px;
$tablet-size: 768px;
$desktop-size: 1200px;

$mobile-gap: 15px;
$tablet-gap: 25px;
$desktop-gap: 65px;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;

$mobile-width-only: 767px;
$tablet-width-only: 1199px;
$desktop-width-only: 1200px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
