$white: #ffffff;
$black: #000000;
$white-transparent: rgba(#ffffff, 0.2);
$black-transparent: rgba(#000000, 0.5);

$bg-gradient-color-1: #b80027;
$bg-gradient-color-2: #003d85;

$text-gradient-color-1: #d10a42;
$text-gradient-color-2: #0041ca;

$border-gradient-color-1: #d10a42;
$border-gradient-color-2: #00359f;

$button-gradient-color-1: #ed0233;
$button-gradient-color-2: #003eb7;

$text-color: #102654;
$text-transparent-color: rgba(#102654, 0.5);
$bg-color: #f8f9fc;
$price-color: #103aae;
$price-fade-color: #e8e8e8;
$border-color:  rgba(#787878, 0.2);
$border-highlighted-color: #d10a42;
$hours-color: #495a7d;
$advantages-small-text-color: #2e35ac;
$highlight-red-color: #ed0233;
$highlight-blue-color: #1c3374;
$contacts-border-color: #74819c;
$footer-bg-color: #030a1a;
$arrow-color: #afafaf;

$table-highlight-color: #ed0233;
$table-border-color: #1c3374;
$table-caption-color: #15367a;


$mobile-size: 320px;
$tablet-size: 768px;
$desktop-size: 1200px;

// $mobile-gap: 15px;
// $tablet-gap: 45px;
// $desktop-gap: 103px;

$mobile-gap: 15px;
$tablet-gap: 25px;
$desktop-gap: 65px;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;

$mobile-width-only: 767px;
$tablet-width-only: 1199px;
$desktop-width-only: 1200px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
