$white: #ffffff;
$black: #000000;
$white-transparent: rgba(#ffffff, 0.2);
$black-transparent: rgba(#000000, 0.5);


$mobile-size: 320px;
$tablet-size: 770px;
$desktop-size: 1024px;

$mobile-width: 320px;
$tablet-width: 760px;
$desktop-width: 1440px;

$mobile-width-only: 759px;
$tablet-width-only: 1023px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
